
* {
    font-family: "IBM Plex Sans", sans-serif;
    /* font-family: font_roboto; */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;


    font-size: 16px;
    /* background: #F4FBFF; */
}


/* CSS - Header  */

.header {
    align-items: center;
}

.header .title-ctn .title {
    font-size: 4rem;
}

.header .add-btn button{
    background: #000;

    

    color: white;

    transition: all 0.2s;
}

.header .add-btn button:hover{
    

    background: var(--bs-primary);

    transition: all 0.2s;
}

/* CSS - Section 2 - Filter */

.filter-section .ctn .filter-btn {

    width: 300px;
    height: 50px;

    display: flex;

    justify-content: space-between;
    align-items: center;

	font-weight: lighter;
	color: gray; 
	
	padding: 30px auto; 
	border-radius: 10px;
	border: 1px solid rgb(202, 202, 202);

	
	background-color: white;
	
	cursor: pointer; /* show that it's clickable*/
	transition: all 0.2s;
}

.filter-section .ctn .filter-btn:hover{
    border: 1px solid black;
    color: black; 
	
    transition: all 0.2s;
}


.filter-section .ctn .fa-caret-down{
    color: rgb(202, 202, 202);

    transition: all 0.2s;
}


.filter-section .ctn .filter-btn:hover .fa-caret-down{
    color: black;
    transition: all 0.2s;

}

.filter-section .ctn ul{
    width: 300px;


}

/* Section 3 - JobBoard */

.job-table .job-table-ctn{

}

.job-table .job-table-ctn .table{
    /* border: 2px solid gray; */
    /* border-radius: 5px; */
}

.job-table .job-table-ctn .table-head{ 
    font-size: 1.3rem;
    font-weight: bold;
    color: black;


}


/* ---- */
.status-submitted {
    background-color: #1C77C3; 
}

.status-accepted {
    background-color: #70AE6E;  
}

.status-responded {
    background-color: #7353BA;   
}

.status-negotiating {
    background-color: #008148;  
}

.status-interviewed {
    background-color: #EF8A17;   
}

.status-rejected {
    background-color: #C05746;  
}

.status-withdrawn {
    background-color: #6E7271;  
}

.status-nohope {
    background-color: #474647;  
}
